@media screen and (max-width: 1024px) {
    #category-container {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #category-container {
        width: 600px;
    }
}

@media screen and (max-width: 425px) {
    #category-container {
        width: 300px;
        flex-direction: column;
    }

    #category-card {
        padding: 0 1em;
        box-sizing: border-box;
        flex-direction: row;
        gap: .2em;
        width: 100%;
        align-items: center;
    }

    #category-content {
    }

    #category-image {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #category-card:nth-child(1) #category-image {
        width: 60px;
    }

    #category-card:nth-child(2) #category-image {
        width: 120px;
    }

    #category-card:nth-child(3) #category-image {
        width: 60px;
    }

    #category-card:nth-child(3) #category-content {
        width: 300px;
    }
}