@media screen and (max-width: 1024px) {
    #theBestContainer {
        width: 700px;
    }

    #theBest-chef {
        width: 280px;
    }

    #theBest-content-tags {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #theBestContainer {
        width: 400px;
        display: block;
    }

    #theBest-content {
        width: 100%;
    }

    #theBest-chef {
        display: none;
    }

    #tag {
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 425px) {
    #theBestContainer {
        width: 270px;
        display: block;
    }
}