@media screen and (max-width: 1024px) {
    #header-container {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #header-container {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    #header-container {
        width: 500px;
    }

    #description-header {
        line-height: 2;
    }

    #header-content {
        gap: 1em;
    }
}

@media screen and (max-width: 425px) {
    #header-container {
        width: 300px;
        flex-direction: column;
        gap: 1em;
    }

    #header-burger {
        width: 200px;
    }

    #title-header {
        font-size: 2rem;
    }
}