@media screen and (max-width: 1024px) {
    #footer-container {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #footer-container {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 4em;
    } 

    .fc-links {
        text-align: left;
    }
}

@media screen and (max-width: 425px) {
    #footer {
        width: 100%;
    }

    #footer-container, #fc-left, #fc-right {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    #fc-right {
        flex-direction: column;
        gap: 2em;
    }
}