#footer {
    background-color: var(--light-color-light2);
}

#footer-container {
    width: 900px;
    margin: 0 auto;
    padding: 0 0 2em;
    display: flex;
}

/* zona de la izq */
#fc-left {
    width: 400px;
}

#fc-title p {
    line-height: 2;
}

#fc-socials {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    font-size: 30px;
    color: var(--default-shadow-gray);
}

/* zona de la derecha */
#fc-right {
    width: 100%;
    display: flex;
}

.fc-links-title {
    font-weight: bold;
}

.fc-links {
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
}

.fc-links-content p a {
    color: var(--default-white);
    padding-bottom: 4px;
}

.fc-links-content p a:hover {
    box-shadow: 0 2px 0px var(--default-shadow-gray);
}