@media screen and (max-width: 1024px) {
    #objetivos {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #objetivos, .left, .right {
        width: 400px;
    }

    #mision, #vision {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }
}

@media screen and (max-width: 425px) {
    #objetivos, .left, .right  {
        width: 280px;
    }
}