#comments {
    position: relative;
    padding-bottom: 5em;
}

#comments-title {
    text-align: center;
    padding: 3em 0 2em;
}

.comments-content {
    position: absolute;
    display: flex;
    gap: 2em;
    animation: infiniteComments infinite linear 70s;
    pointer-events: none;
    overflow-x: hidden;
}

.comment {
    width: 340px;
    background-color: rgb(31, 38, 59);
    line-height: 1.5;
    padding: 1em 2em;
    border-radius: 8px;
    font-style: italic;
}

@keyframes infiniteComments {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}